@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
.dark-gray-text{
    color: #727272;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-right: 40px;
    color: #424242;
    text-align: center;
    font-weight: 500;
}
.section-title{
    color: #2e2d2d;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.banner{
    margin: 0 auto;
    margin-top: 50px;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner img {
    margin-top:50px;
    width: 100%;
}
.banner-desc{
    margin-top: 16px;
    margin-bottom: 16px;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
}
.banner-desc{
    color:#727272;
    text-align: center;
}

/* Main section */

/* section related styles */
.team-container{
    max-width: 1400px;
    margin: 80px auto;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
}
.teams-content{
    /* border: 2px dashed green; */
    width: 48%;
    padding-left: 70px;
    padding-right: 70px;
    

}
.team-img-container{
    /* border: 2px dashed blue; */
    width: 48%;
}
.teams-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 500;
}
.teams-title #sp-1{
    color:  #727272;
}
.teams-title #sp-2{
    color: #FF900E
}
.teams-content p{
    margin-top: 24px;
    margin-bottom: 32px;
}

.team-img-container{
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}








/* Media quer here */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
        width: 100%;
    }
    nav,
    .team-container{
        padding: 20px;
        flex-direction: column;
    }
    nav li{
        margin: auto;
    }
    .team-img-container, .teams-content{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0px;
        /* border: 2px dashed red; */
    }
    
}